<div class="pin" id="<%= id%>">
  <div class="name<%= !name ? ' empty' : '' %>" title="Click to edit"><%= !name ? 'Enter Name' : name %></div>
  <div class="controls" style="height: 20px; margin-top: 10px;"></div>
  <div class="descr<%= !descr ? ' empty' : '' %>" title="Click to edit"><%= !descr ? '<p>Description&hellip;</p>' : descr %></div>
  <div><a href="#" class="remove-pin">Remove Pin</div>
</div>